/*
    Author: Eric Man
    Theme: Website Admin
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    padding: 1%;
    width: 80%;
}

.text-center {
    text-align: center;
}

.custom-color {
    background-color: #8f2e2e;
    color: #ffffff;
}

/* Nav CSS */
.navbar-dark {
    color: #ffffff;
}
.nav-link {
    color: #ffffff;
    font-weight: bold;
}

.nav-link:hover {
    color: #dcdde1;
}

/* Main Content CSS */
.main-content {
    background-color: #272727;
    color: #9e9e9e;
    padding: 3%;
}

.col-4 {
    width: 20%;
    background-color: white;
    margin: 1%;
    padding: 2%;
}

.mytable tbody tr td, .mytable thead tr th {
    padding: 20px;
}

.success {
    color: #2ed573;
}

.error {
    color: #ff4757;
}

/* Footer CSS */

/*.footer {
    
}*/

/* Login CSS */
.login {
    border: 1px solid grey;
    width: 30%;
    margin: 10% auto;
    padding: 2%;
}